APP_NAME=Payarr
APP_VERSION=0.1.0

SECRET_KEY=

POSTGRES_DB=payarr
POSTGRES_USER=payarr
POSTGRES_PASSWORD=

DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=payarr
DATABASE_USER=payarr
DATABASE_PASSWORD=

EMBY_URL=
EMBY_API_KEY=

BTCPAY_URL=
BTCPAY_API_KEY=
BTCPAY_STORE_ID=

PAYMENT_PROVIDER=mock